# Files

*.elc
*~
.*.lock
bookmarks*
session.*
org-clock-save
*.dat
tramp

# Unwanted folders

/auto-save-list
/.session
/.org-id-locations
/server
/semanticdb
/elpa
/eshell

# Created by us, but should not pushed

/.emacs-backups
/cache
/el-get
/plugins/el-get
/ac-l-dict
